@using EmberTripsPage.Components.Trips.Skeletons
@using EmberTripsPage.Models.Json

@if (Trip != null)
{
    <div class="panel overview-component">
        <div class="route-overview">
            <div class="route-start">
                <div class="route-from">@Trip.GetFormattedStart() from</div>
                <div class="route-region">@Trip.GetOriginRegion()</div>
                <div class="route-name">@Trip.GetOriginName()</div>
            </div>
            <div class="route-end">
                <div class="route-to">@Trip.GetFormattedEnd() to</div>
                <div class="route-region">@Trip.GetDestinationRegion()</div>
                <div class="route-name">@Trip.GetDestinationName()</div>
            </div>
        </div>
    </div>
}
else
{
    <SkeletonOverview></SkeletonOverview>
}

@code {
    [Parameter]
    public TripResult? Trip { get; set; }
}
